@model IEnumerable<Anemone.Models.EF.order>
@{
    ViewBag.Title = "AllOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllOrder</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.orderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idID)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.idOrder }) |

            </td>
        </tr>
    }

</table>
